<div class="dashboard-container">
  <app-filter></app-filter>
  <section class="flight-list-container"
           *ngIf="flightList$ | async as flights; else loading">
    <ng-container *ngIf="flights.length; else noItemFound">
      <ul class="flight-list">
        <li class="flight-list-item"
            *ngFor="let flight of flights">
          <div class="flight-info-wrapper">
            <div class="info-row">
              <img src="{{flight?.imageUrl}}">
            </div>
            <div class="info-row name">
              <h2>{{flight?.name}}</h2>
            </div>
            <ng-container *ngIf="flight?.misionId?.length">
              <div class="info-row mission">
                <span class="mission-lbl">{{labels?.missionId}}</span>
                <ul>
                  <li *ngFor="let missionId of flight?.misionId">{{missionId}}</li>
                </ul>
              </div>
            </ng-container>
            <div class="info-row year two-col">
              <span class="label">{{labels?.launchYear}} : </span>
              <span class="year-val">{{flight?.launchYear}}</span>
            </div>
            <div class="info-row launch two-col">
              <span class="label">{{labels?.successfulLaunch}} : </span>
              <span class="year-val">{{flight?.launchSuccess}}</span>
            </div>

            <div class="info-row land two-col">
              <span class="label">{{labels?.successfulLanding}} : </span>
              <span class="year-val">{{flight?.landSuccess}}</span>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
  </section>
</div>
<ng-template #loading>{{labels?.loadingMsg}}</ng-template>
<ng-template #noItemFound>{{labels?.noItemFound}}</ng-template>
